<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css')}}">
    </head>

    <body>
        <header>
            <div class="topnav">
                <!-- <img src="./resources/3.png" alt="logo" class="logo"> -->
                <nav>
                    <ul>
                        <li><a href="http://localhost:5001/">Home</a></li>
                        <li><a class="active" href="http://localhost:5001/requestPage">Request a project!</a></li>
                        <li><a href="http://localhost:5001/reviews">Leave a review!</a></li>
                        <li><a href="http://localhost:5001/inquiry">If you're having any trouble, reach out!</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <h1>
            The Reno Group
        </h1>
        <body>
            About Us:
        </body>
        <hr>
        <footer>
            Company Info
        </footer>
    </body>
</html>
