<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css')}}">
    </head>

    <body>
        <header>
            <div class="topnav">
                <img src="{{ url_for('static', filename='TheRenoGroup.png')}}" alt="Reno Group Logo" class="logo">
                <nav>
                    <ul>
                        <li><a href="http://localhost:5001/">Home</a></li>
                        <li><a class="active" href="http://localhost:5001/requestPage">Request a project!</a></li>
                        <li><a href="http://localhost:5001/reviews">Leave a review!</a></li>
                        <li><a href="http://localhost:5001/inquiry">If you're having any trouble, reach out!</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <div class="aboutUS">
            <h3> About Us: </h3>
            <p1>
                All in one business management solution for small business. 
                This solution will encompass inventory, client, and project management along with company analytic and project scheduling.
            </p1>
        </div>
    </body>
</html>
