<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css')}}">
    </head>

    <body>
        <header>
            <div class="topnav">
                <img src="./resources/3.png" alt="logo" class="logo">
                <nav>
                    <ul>
                        <li><a href="http://localhost:5000/">Home</a></li>
                        <li><a class="active" href="http://localhost:5000/requestPage">Request a project</a></li>
                        <li><a href="http://localhost:5000/reviews">Leave a review!</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <div class="formSection">
            <p>An asterisk (*) indicates a required field</p>
            <form id="reviewForm" action="http://localhost:5000/submitReview" method="post" onsubmit="showAlert()">
                <label for="reviewTitle">Title *</label><br>
                <input type="text" id="reviewTitle" name="reviewTitle" placeholder="Enter your Title" required><br>
                <label for="reviewDesc">Provide a review description *</label><br>
                <textarea id="reviewDesc" name="reviewDesc" rows="10" cols="50"></textarea><br>
                <input type="submit" value="submit">
            </form>
        </div>

        <script>
            // Function to clear form inputs
            function clearFormInputs() {
                document.getElementById('reviewTitle').value = '';
                document.getElementById('reviewDesc').value = '';
            }

            // Function to handle form submission
            function submitForm() {
                alert("Thank you for your Review!");
                clearFormInputs();
            }

            // Add a submit event listener to the form
            document.getElementById('reviewForm').addEventListener('submit', function (e) {
                e.preventDefault(); // Prevent the default form submission
                submitForm(); // Call the custom submitForm function
            });
        </script>
    </body>
</html>
