<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./templates/styles.css">
    </head>

    <body>
        <header>
            <div class="topnav">
                <img src="./resources/3.png" alt="logo" class="logo">
                <nav>
                    <ul>
                        <li><a href="http://localhost:5000/">Home</a></li>
                        <li><a class="active" href="http://localhost:5000/renoGrpRequestPage">Request a project</a></li>
                        <li><a href="http://localhost:5000/reviews">Leave a review!</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <div class="formSection">
            <p>An asterisk (*) indicates a required field</p>
            <form action="http://localhost:5000/submitRequest" method="post">
                <label for "customerName">Name *</label><br>
                <input type="text" id="customerName" name="customerName" placeholder="Enter your name" required><br>
                <label for "customerEmail">Email *</label><br>
                <input type="email" id="customerEmail" name="customerEmail" placeholder="Enter your email" required><br>
                <label for="customerCell">Contact Number *</label><br>
                <input type="tel" id="customerCell" name="customerCell" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="xxx-xxx-xxxx" required><br>
                <label for "company">Company (optional)</label><br>
                <input type="text" id="company" name="company" placeholder="Enter your company name" required><br>
                <label for="startDate">Predicted Project Start Date *</label><br>
                <input type="date" id="startDate" name="startDate" required><br>
                <label for="endDate">Predicted Project End Date *</label><br>
                <input type="date" id="endDate" name="endDate" required><br>
                <label for="projectDesc">Provide a description of your proposed project *</label><br>
                <textarea id="projectDesc" name="projectDesc" rows="10" cols="50"></textarea><br>
                <input type="submit" value="submit">
            </form>
        </div>
    </body>
</html>