.logo {
    width: 150px;
    height: 150px;
    float: left;
    margin-left: 1%;
}

header {
    background: #ffa500;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

p {
    font-size: 14px;
    color: #ffa500;
    padding: 10px;
    margin: 10px 0; 
}

body {
    margin: 0;
    background: #222;
    font-weight: 300;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-right: 50px;
    padding: 15px;
    padding-top: 10%;
}

nav a {
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

nav a:hover {
    color: #000;
}

nav a::before {
    content: '';
    display: block;
    height: 4px;
    background-color: #444;
    top: 0%;
    width: 0%;

    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}

label {
    font-size: 16px;
    color: #ffa500;
    padding: 10px;
    margin: 10px 0; 
}

input {
    width: 15%;
    margin: 10px;
    padding:10px;
    border:0;
    box-shadow:0 0 15px 4px rgba(#eee,#eee,#eee,#eee);
    border-radius: 10px;
    border: 2px solid #000;
    border-bottom:1px solid #000;
    text-align: left;
}

input[type="date"] {
    width: 8%;
}

input[type="submit"] {
    width: 5%;
    color: #444;
    background-color: #ffa500;
    text-align: center;
    text-transform: uppercase;
}

textarea {
    margin: 10px;
    padding:10px;
    border:0;
    box-shadow:0 0 15px 4px rgba(#eee,#eee,#eee,#eee);
    border-radius: 10px;
    border: 2px solid #000;
    border-bottom:1px solid #000;
    text-align: left;
}

#projectDesc {
   width: 50%;
   height: 200px;
   resize: vertical;
   vertical-align: text-top;
}

.reviewTextBox{
    height: 20%;
    width: 70%;
    margin: 10px;
    padding:10px;
    border:0;
    box-shadow:0 0 15px 4px rgba(#eee,#eee,#eee,#eee);
    border-radius: 10px;
    border: 2px solid #000;
    border-bottom:1px solid #000;
    text-align: left;
}

h1 {
    color: #ffa500;
    padding: 10px;
    margin: 10px 0; 
}

h2 {
    color: #ffa500;
    padding: 10px;
    margin: 10px 0; 
}

button{
    width: 10%;
    margin: 10px;
    padding:10px;
    box-shadow:0 0 15px 4px rgba(#eee,#eee,#eee,#eee);
    border-radius: 10px;
    border: 2px solid #000;
    border-bottom:1px solid #000;
    color: #444;
    background-color: #ffa500;
    text-align: center;
    text-transform: uppercase;
}

select {
    width: 10%;
    margin: 10px;
    padding:10px;
    box-shadow:0 0 15px 4px rgba(#eee,#eee,#eee,#eee);
    border-radius: 10px;
    border: 2px solid #000;
    border-bottom:1px solid #000;
    color: #444;
    background-color: #ffa500;
    text-align: center;
    text-transform: uppercase;
}

.checked {
    color: orange;
}

.padding {
    padding: 10px;
    margin: 10px 0; 
}

.aboutUS {
    background-color: #ffa500;
    font-family: Georgia;
    border: black;
    border-radius: 10px;
    border-style: solid;
    padding: 10px;
    width: 25%; /* Adjust the width as needed */
    margin: auto; /* Center horizontally */
    margin-top: 150px;
    text-align: center; /* Center text horizontally */
    height: 25vh; /* Adjust the height as needed */
}

